# tmp & cache files
**/.ipynb_checkpoints/
**/__pycache__/

# raw files
v0.5/inputs/**/*.xlsx
v0.5/inputs/**/*.xls
v0.5/inputs/**/*.csv
v0.5/inputs/**/*.json
v0.5/inputs/**/*.zip
v0.5/inputs/raw
v0.5/inputs/P99


# db
psql_engine.txt
